
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Merriweather:wght@700&family=Nova+Square&family=Playfair+Display:ital@0;1&display=swap');

*,
*::before
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(188, 222, 237);
    justify-content: center;
    align-items: center;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

::-webkit-scrollbar{
    display: none;
}

img[alt="logo"]{
    width: 5rem;
    
}

.row .slide-about{
    display: flex;
    margin: 20px;
    padding: 3rem;
    gap: 10rem;
    border: 1rem solid white;
    align-items: center;

}
.row .slide-about img{
    border-radius: 20px;
    width: 15rem;
}

.next {
    display: flex;
}

.table {
    flex-grow: 1;
    margin-right: 10px; /* Adjust margin as needed for spacing between tables */
}

/* Optional: Remove the margin from the last table to avoid extra spacing */
.table:last-child {
    margin-right: 0;
}

