::before
::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(188, 222, 237);
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

::-webkit-scrollbar{
    display: none;
}

img[alt="logo"]{
    width: 5rem;
    
}

.slide-about{
    display: inline-block;
    margin-left: rem;
}
