@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Merriweather:wght@700&family=Nova+Square&family=Playfair+Display:ital@0;1&display=swap');


::before
::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(188, 222, 237);
    justify-content: center;
    align-items: center;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-family: 'Playfair Display', serif;

    
}

::-webkit-scrollbar{
    display: none;
}

img[alt="logo"]{
    width: 5rem;
    
}


main{
    height: 100vh;
    background-image: url(https://i.postimg.cc/13V4vn5j/no4-Ecomm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    background-attachment: fixed;
    backdrop-filter: blur(10rem);
    opacity: 85%;
    color: black;
    
    }
p.homepara{
        margin: 5rem;
        padding: 10rem;
        justify-content: center;
        align-items: center;
        
    }

footer{
    text-align: center;
}

/* .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
} */