
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Merriweather:wght@700&family=Nova+Square&family=Playfair+Display&display=swap');


*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(188, 222, 237);
    justify-content: center;
    align-items: center;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

::-webkit-scrollbar{
    display: none;
}

img[alt="logo"]{
    width: 5rem;
    
}


p.homepara{
    margin: 5rem;
    padding: 10rem;
    justify-content: center;
    align-items: center;
}

/* .slide-about{
    grid-row: auto;
    grid-column: 30% 30% 30%;
    width: 20rem;
    aspect-ratio: 1/1;
} */

.sort{
    padding: 15px;
    margin: 2rem;
    border-radius: 10px;
    background-color: rgb(196, 211, 222);
    

}
input.form-control{
    border-radius: 10px;
    padding: 10px;
    margin-top: 2rem;

}


.card{
    width: 18rem;
}
.row{
    margin-block: 1rem ;
}

#tableAdmin{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    aspect-ratio: 1/1;
    height: 20rem;
    
}

#tableAdmin img{
    width: 70px;
}
#tableAdmin button{
    padding: 2px;
    background-color: rgb(188, 222, 237);;
    border-radius: 5px;
    align-items: center;
    margin: 15px;
}

