::before
::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(185, 221, 236);
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::-webkit-scrollbar{
    display: none;
}

img[alt="logo"]{
    width: 5rem;

}

img[alt="home"]{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    max-zoom: 15px;
    object-fit: scale-down;
    object-position: 25% 25%;
    overflow: hidden;

}